<h1 class='text-center'> Upload Influencers From CSV And Create Their Orders </h1>
<div class='alert alert-info' >
  Import influencers from a csv and create orders for them.
  If an influencer already exists it will be updated and an order will
  still be created for that influencer.
</div>
<%= form_for @import, url: import_influencers_path, multipart: true do |f| %>
  <% if @import.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <% @import.errors.full_messages.each do |msg| %>
        <div><%= msg %></div>
      <% end %>
    </div>
  <% end %>
  <%= f.file_field :file %>
  <%= f.submit 'Upload Influencers', class: 'btn btn-primary' %>
<% end %>
