<h1 class='text-center'> Upload Influencers From CSV </h1>
<%= form_tag import_influencers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag 'Upload Influencers', class: 'btn btn-primary' %>
<% end %>
