<h1 class="text-center">How To Use This App </h1>

<h4>Influencers > Upload CSV </h4>
<p class='alert alert-info'>
  This saves influencers from a csv file to the database. Influencers that
  already exist will be updated. The app will skip lines with errors and show
  you the line numbers it skipped with an error message describing the problem.
  You can find the line, fix it, and then upload the entire csv file over again.
</p>

<h4> Influencers > View Influencers </h4>
<p class='alert alert-info'>
  Page through all the influencers in the app. You can also search by email or
  last name here.
</p>

<h4> Influencers > View Influencers > Create This Month's Influencer Orders </h4>
<p class='alert alert-success'>
  After uploading all the csv's for the month, this will create orders for all
  the influencers that were either created or updated this month. To prevent
  duplicate orders from being created, this can only be done once a month so make
  sure all the csv's have been uploaded before performing this action. This
  should be your default workflow.
</p>

<h4> Orders > Send Influencer Orders to Warehouse </h4>
<p class='alert alert-info'>
  This will grab all the orders in the database that have not been sent to the
  warehouse yet and then it will send them to the warehouse.
</p>

<h4> Influencers > View Influencers > Create Influencer Orders </h4>
<p class='alert alert-danger'>
  Use this button with CAUTION since it allows for potentially creating duplicate
  orders. In case you need to create additinoal orders after you have clicked the
  'Create This Month's Influencer Orders' button, you may select influencers
  individually by clicking the checkbox by their name and then clicking
  'Create Influencer Orders'. You can also select all the influencers on the page
  at once by clicking the checkbox at the very top left corner of the table.
</p>

<h4> Influencers > View Influencers > Create Orders For All Influencers In The Database </h4>
<p class='alert alert-danger'>
  Use this button with EXTREME CAUTION since it opens up the greatest possibility
  to create duplicate orders. If influencers exist that were not updated this month,
  this button will create orders for them for the last collection (whatever it was)
  the database has stored for them.
</p>

<h4>Danger Zone > Refresh Everything</h4>
<p class='alert alert-danger'>
  Only use this section if you have talked to the dev team and you know what
  you are doing. When in doubt always choose to refresh everything.
</p>
