<div class='row'>
  <div class="col col-sm-12"</div>
    <h1 class='text-center'> Create Influencer Orders </h1>
    <div class='alert alert-info text-center' >
      Create orders for all influencers who were either updated or created this
      month. WARNING: To prevent duplicate orders from being created this can
      only be done once a month. Before creating orders make sure you are
      completely done creating/updating the influencers for this month.
    </div>
    <%= form_for @influencer_order_creator, url: influencer_orders_path, method: :post do |f| %>
      <% if @influencer_order_creator.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <% @influencer_order_creator.errors.full_messages.each do |msg| %>
            <div><%= msg %></div>
          <% end %>
        </div>
      <% end %>
      <%= f.submit 'Create Influencer Orders', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
