<h1>Error -- Non ASCII Characters</h1>
<p>Here are the errors we are finding, influencers were not imported</p>
<div class="alert alert-danger" role="alert">
<table>
<th>
Row Number
</th>
<th>
Row Data
</th>
<tr>
<td>
<%= $bad_row_num %>
</td>
<td>
<%= $bad_row_data %>
</td>
</tr>
</table>
</div>
