<%= "#{@influencer.first_name}, your order is on its way! Your tracking information is below:" %>
<p>
  <%= "Carrier: #{@influencer_tracking.carrier}" %> <br />
  <%= "Tracking Number: #{@influencer_tracking.tracking_number}" %> <br />
  <%= "Order Number: #{@influencer_tracking.order_name}" %>
</p>
Your friends at <a href='https://www.ellie.com'> ellie.com</a>.
