<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <%= link_to(root_path) do %>
        &copy; FAM Brands
        <%= Time.current.year %>
      <% end %>
    </p>
  </div>
</footer>
